*.DS_Store
*__pycache__
chromedriver
.env
notes/*
*results*.txt
*results*.csv
recordings
pickles
status.log
chrome-mac-arm64/
venv/

# Docker
.dockerenv
*.log

# might delete anything under this line
error.txt

csvdata.csv
unfollowlist.txt