*.DS_Store
*__pycache__
chromedriver
.env
notes.txt
f4f_venv
*results*.txt
*results*.csv
recordings
pickles
status.log

# might delete anything under this line
error.txt

checker2.py
csvdata.csv
unfollowlist.txt